$link_color: #1c1c1c;
$link_hover_color: rgb(0, 204, 255);
$nav: #e9e9e900;
$font: #0d7ecc;

a:hover {
    text-decoration: none;
    color: $link_color !important;
}

.container-fluid {
    padding: 0 !important;
}

.about {
    font-size: 1.5em;
    
}

.dev {
    background-image: url("../img/dev.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.main_header {
    background-image: url("../img/header.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 670px;
}

#web_title {
    position: absolute;
    top: calc(80%);
    %p {
        position: relative;
    }
    > p {
        @extend %p;
        font-size: 2.3em;
        letter-spacing: 1em;
        line-height: 0;
    }

    p > span {
        letter-spacing: normal;
    }

    div p {
        @extend %p;
        font-size: 1em;
        letter-spacing: 0.6px;
        background-color: $link_color;
        color: $font;
        display: inline-block;
    }

}

.card-body {
    padding: 0 !important;
}

.card-footer {
    padding: 0 !important;
    a {
        width: 100%;
    }
}


nav {
    background-color: $nav; 
    a, button {
        font-size: 1.5em;
        color: $link_hover_color !important;
    }
    button {
        font-size: 2em !important;
    }
    a:hover, button:hover {
        color: rgb(116, 234, 255) !important;
    }
    box-shadow: #000 0 0 5px 0.1px;
}

section {
    margin-bottom: 2em;
    margin-top: 2em;
}

.row {
    margin: auto;
}

.table-hover tbody tr:hover {
    background-color: #a5a5a5 !important;
}

.col-md-3.col-sm-2 a > img {
    width: 100%;
}

@media (max-width: 489px) {
    #web_title {
        > p {
            letter-spacing: 0.38em;
        }
        div p {
            line-height: 1em;
        }
        
    }
}

@media (max-width: 997px) {
    .hide_col {
        display: none;
    }

    .fixed-top {
        position: inherit;
        z-index: 1030;
    }
}

@media (max-width: 990px) {
    
    .navbar {
        background: linear-gradient(90deg ,#105fac, #0c86cf, #105fac);
    }
    
}